{% extends "home/base.html" %}

{% block content %}
<style>
    body {
        background: #DCD0C0
    }
    h1 {
            color: #373737;
            font-family: 'Eagle Lake', cursive;
        }
     .table {
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;
        width: 75%;
        color: #373737;
        background-color: #F4F4F4;
    }
</style>
<br />
<h1>Cart</h1>

{% include 'cart/cart_table.html' %}

<a href="{% url 'checkout' %}" type="button" class="btn btn-success">Checkout</a>



{% endblock content %}