{% extends "home/base.html" %}

{% block content %}
<style>
    body {
        background: #DCD0C0
    }
    h1 {
        color: #373737;
        font-family: 'Amarante', cursive;
        margin-right: auto;
        margin-left: auto;
        font-size: 70px;
        }
     .table {
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;
        width: 75%;
        color: #373737;
        background-color: #F4F4F4;
        font-family: 'Cinzel Decorative', cursive;
    }
    .btn {
        font-family: 'Amarante', cursive;
    }
</style>
<br />
<legend><h1>Cart</h1></legend>

{% include 'cart/cart_table.html' %}

<a href="{% url 'checkout' %}" type="button" class="btn btn-success">Checkout</a>



{% endblock content %}