<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ESO</title>
    {% block styles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    {% endblock styles %}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <style>
    body{
        background-image: url("/media/images/bckgrnd-pic.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .buttons {
        text-align: center;
        margin-top: 500px;
    }
    input {
        width: 35%;
        font-size: 2em;
        background-color: #373737;
        color: #C0B283;
        border: solid white 5px;
    }
    input:hover {
        border: none;
    }
    
    </style>
</head>
<body>
    <div class="buttons">
        <input type="Submit" onclick="location.href='{% url 'register' %}'" value="Register"/>
        <input type="Submit" onclick="location.href='{% url 'login' %}'" value="Log In"/>
    </div>
</body>
</html>