{% extends 'home/base.html' %}

{% block content %}
<link href="https://fonts.googleapis.com/css?family=Eagle+Lake|Indie+Flower" rel="stylesheet">
<style>
    body {
            background: #DCD0C0;
        }
    .message {
            background: #F4F4F4;
            width: 50%;
            margin: 0 auto;
            padding: 50px;
        }
        h1, h2 {
            color: #C0B283;
            font-family: 'Eagle Lake', cursive;
        }
        
        p {
            color: #373737;
            font-family: 'Indie Flower', cursive;
        }
        .btn {
        background: #373737;
        color: #C0B283;
        width: 25%;
        padding: 15px;
        font-size: 25px;
        text-align: center;
        border: solid white 5px;
        width: 32%;
        margin: 0 auto;
    }
</style>
<br />
<div class="message">
<h1>{{ message.subject }}</h1>
<h2>From: {{ message.sender }}</h2>
<br />
<p>{{ message.body }}</p>
<hr>
<button class="btn btn-default" onclick="location.href='{% url 'inbox' %}'">Inbox</button>
</div>


{% endblock content %}