{% extends 'home/base.html' %}
{% load bootstrap_tags %}
{% block content %}
<style>
    body {
            background: #DCD0C0;
            font-family: 'Bilbo', cursive;
            font-size: 40px;
        }
    .message {
            background: #F4F4F4;
            width: 50%;
            margin: 0 auto;
            padding: 50px;
        }
        h1, h2 {
            color: #C0B283;
            font-family: 'Amarante', cursive;
        }
        
        p {
            color: #373737;
            font-family: 'Bilbo', cursive;
            font-size: 40px;
        }
        .btn {
        background: #373737;
        color: #C0B283;
        width: 25%;
        padding: 15px;
        font-size: 40px;
        text-align: center;
        border: solid white 5px;
        width: 32%;
        margin: 0 auto;
        font-family: 'Amarante', cursive;
    }
</style>
<br />
<div class="message">
<h1>{{ message.subject }}</h1>
<br />
<p>{{ message.body }}<br /><br /><br /><br />
Sincerely, <br /> <h2>{{ message.sender }}</h2></p>
<hr>
<button class="btn btn-default" onclick="location.href='{% url 'inbox' %}'">Inbox</button>
</div>


{% endblock content %}