{% extends 'home/base.html' %}

{% block content %}
<link href="https://fonts.googleapis.com/css?family=Eagle+Lake|Indie+Flower" rel="stylesheet">
<style>
    body {
            background-image: url("/media/images/mOM3Gbf.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    .message {
            background: #d1913c; /* fallback for old browsers */
            background: -webkit-linear-gradient(bottom, #d1913c, #ffd194);
            background: -moz-linear-gradient(bottom, #d1913c, #ffd194);
            background: -o-linear-gradient(bottom, #d1913c, #ffd194);
            background: linear-gradient(to top, #d1913c, #ffd194); /* Chrome 10-25, Safari 5.1-6 */
            width: 50%;
            margin: 0 auto;
            padding: 50px;
        }
        h1, h2 {
            color: black;
            font-family: 'Eagle Lake', cursive;
        }
        
        p {
            font-family: 'Indie Flower', cursive;
        }
</style>

<div class="message">
<h1>{{ message.subject }}</h1>
<h2>From: {{ message.sender }}</h2>
<br />
<p>{{ message.body }}</p>
</div>

{% endblock content %}