{% extends "home/base.html" %}
{% load bootstrap_tags %}
{% block content %}
    <style>
    body {
    background: #DCD0C0;
    color: #373737;
    }
    legend {
    color: #C0B283;
    }
    .containers {
    padding: 30px;
    width: 100%;
    }
    form {
    background-color: #F4F4F4;
    padding: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    }
    </style>
    <form role="form" method="post">
        <legend>Login</legend>
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <p><a href="{% url 'password_reset' %}">Forgot my password</a></p>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
{% endblock %}