{% extends "home/base.html" %}
{% load bootstrap_tags %}
{% block content %}
<style>
    body {
        background: #00b09b;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
    }
    legend {
        color: white;
    }
    .containers {
        padding: 30px;
        width: 100%;
    }
    form {
        background-color: rgba(0,0,0, .4);
        padding: 20px;
    }
</style>
    <form role="form" method="post">
        <legend>Login</legend>
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <p><a href="{% url 'password_reset' %}">Forgot my password</a></p>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
{% endblock %}