{% extends 'home/base.html' %}
{% load bootstrap_tags %}
{% block content %}
<style>
    body {
    background: #DCD0C0;
    }
    h1 {
       text-align: center; 
       color: #373737;
       font-family: 'Amarante', cursive;
    }
    h2 {
       text-align: center;
       color: #C0B283;
       width: 65%;
       font-family: 'Bilbo', cursive;
       font-size: 50px;
           
    }
    #profile {
        background-color: #F4F4F4;
        padding: 50px;
        width: 75%;
        margin: 50px auto 10px auto;
    }
    
</style>
    <br />
    <div id="profile">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h1>You are logged in as</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-4">
            <h2>{{ user.username }}</h2>  
        </div>
    </div>
    </div>
     
{% endblock content %}