{% extends "home/base.html" %}
{% load bootstrap_tags %}
{% block content %}
    <style>
    body {
    background: #DCD0C0;
    color: #373737;
    }
    legend {
    color: #C0B283;
    font-family: 'Amarante', cursive;
    font-size: 40px;
    }
    .containers {
    padding: 30px;
    width: 100%;
    }
    form {
    background-color: #F4F4F4;
    padding: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Bilbo', cursive;
    font-size: 25px;
    }
    .form-control {
        font-size: 20px;
    }
    button {
        font-family: 'Amarante', cursive;
    }
    input {
        font-size: 100px;
    }
    </style>
    <form role="form" method="post" >
        <legend>Create a new account</legend>
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create account</button>
        </div>
    </form>
{% endblock %}