{% extends "home/base.html" %}
{% load bootstrap_tags %}
{% block content %}
<style>
    body {
        background: #DCD0C0;
    }
    .row {
       font-family: 'Bilbo', cursive;
       font-size: 25px;
    }
    .col-lg-4 {
        background: #F4F4F4;
        color: #C0B283;
        padding: 15px;
        height: 400px;
        font-family: 'Bilbo', cursive;
        font-size: 50px;
        border: solid #DCD0C0 15px;
        overflow: scroll; 
    }
    .col-lg-8 {
       background: #F4F4F4;
        color: #C0B283;
        padding: 15px;
        height: 350px;
        font-size: 25px;
        border: solid #DCD0C0 15px; 
        overflow: scroll; 
    }
    
    h1 {
        color: #373737;
        display: inline;
        font-family: 'Amarante', cursive;
    }
    h5 {
        color: #373737;
        font-family: 'Amarante', cursive;
    }
    .pic {
        width: 100%;
        height: 350px;
    }
</style>
<br />
    <h1>{{ characters.name }} <button class="btn btn-default" onclick="location.href='{% url 'character_list' %}'">Back To List</button></h1>
    <h5><strong> #</strong>{{ characters.tag }}</h5>
    <div class="row">
         <hr>
        <div class="col-lg-4">
        <h1>Gender:</h1> {{ characters.gender }} <br /><br />
        <h1>Race:</h1> {{ characters.race }} <br /><br />
        <h1>Class:</h1> {{ characters.classes}}
        </div>
    <div class="col-lg-4">
        <h1>Guild:</h1> {{ characters.guild }}
    </div>
    <div class="col-lg-4">
        <img src="{{MEDIA_URL}}{{ characters.image }}" class="pic"></img>
    </div>
  
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h1>Description:</h1> {{ characters.description }}
        </div>
    </div>
     <hr>
{% endblock content %}