{% extends "home/base.html" %}
{% load gravatar %}
{% block content %}
<style>
    body {
        background: #DCD0C0;
    }
    h1 {
        text-align: center;
        color: #C0B283;
    }
    .pic {
        display: block;
    margin-left: auto;
    margin-right: auto;

    }
    .col-md-4 {
        border: 1px solid #373737;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 10px;
        background: #F4F4F4;
    }
    button {
        width: 32%;
    }
    .btn-block {
        width: 60%;
         margin-left: auto;
    margin-right: auto;
    }
</style>
<br>
{% if user.is_authenticated %}
<a href="{% url 'create_characters' %}" class="btn btn-success btn-sm btn-block" role="button"><i class="glyphicon glyphicon-edit"></i> Compose</a>
{% endif %}
    <br>
        <div class="row">
            {% for character in characters %}
            <div class="col-md-4 col-md-offset-1">
                <h1>{{ character.name }}</h1>
                <img src="{{MEDIA_URL}}{{ character.image }}" class="pic"></img>
                <br />
                <button class="btn btn-info" onclick="location.href='{% url 'character_detail' character.id %}'">Info</button>
                    {% if character.author == request.user or request.user.is_staff %}
                    <button class="btn btn-danger" onclick="location.href='{% url 'delete_character' character.id %}'">Delete</button>
                    <button class="btn btn-warning" onclick="location.href='{% url 'edit_character' character.id %}'">Edit</button>
                    {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %}