{% extends "home/base.html" %}
{% load bootstrap_tags %}
{% block content %}
<style>
    body {
        background: #DCD0C0;
    }
    .col-lg-4 {
        background: #F4F4F4;
        color: #C0B283;
        padding: 15px;
        height: 350px;
        font-size: 50px;
        border: solid #DCD0C0 15px;
    }
    
    h1, h6 {
        color: #373737;
    }
    .pic {
        width: 100%;
        height: 300px;
    }
</style>
<br />
    <h1>{{ characters.name }} <button class="btn btn-default" onclick="location.href='{% url 'character_list' %}'">Back To Blog</button></h1>
    <h6><strong> #</strong>{{ characters.tag }}</h6>
    <div class="row">
        <div class="col-lg-4">
        {{ characters.gender }} <br />
        {{ characters.race }} <br />
        {{ characters.classes}}
        </div>
    <div class="col-lg-4">
        {{ characters.guild }}
    </div>
    <div class="col-lg-4">
        <img src="{{MEDIA_URL}}{{ characters.image }}" class="pic"></img>
    </div>
    </div>
    <div class="row">
        <div class="col-lg-6"></div>
    </div>
{% endblock content %}