{% extends 'home/base.html' %}
{% load bootstrap_tags %}

{% block content %}
<style>
    body {
    background: #DCD0C0;
    
    color: #373737;
    }
    h1 {
    color: #C0B283;
    }
    h2 {
        color: #373737;
    }
    .containers {
    padding: 30px;
    width: 100%;
    }
    form {
    background-color: #F4F4F4;
    padding: 20px;
    width: 75%;
    margin: 30px auto;
    }
</style>
<br />

<form method="POST" enctype="multipart/form-data">
    <h1>Compose</h1>
    <h2>All fields required to create a character!</h2>
    {% csrf_token %}
    {{ form  | as_bootstrap }}
    <input type="Submit" value="Create"/>
</form>

{% endblock content %}